O objetivo do código aqui é realizar manipulações nos dados.

Manipulações realizadas:

1. $\Delta x_t$

2. $\Delta^2 x_t$

3. $ln(x_t)$

4. $\Delta ln(x_t)$

5. $\Delta^2 ln(x_t)$

In [1]:
import pandas as pd
import numpy as np
import utils

In [2]:
df = pd.read_csv("dados/dados_crus2003.csv", sep=";", decimal=",", thousands=".")
df.head(5)

,month,ipca,ipca_15,selic,m1,m2,m3,m4,ibovespa,cambio,...,result_primario,el_nino,epu_br,epu_usa,ind_conf_cons,desemprego,rendimento,crb_cmdt,crb_food,crb_metal
0,jan/03,2.25,1.98,25.145161,94977783,391237088,696054502,810272451,10941.09,3.4384,...,48763.52,0.9,88.150920,185.591626,103.0,14.068293,NaN,250.14,239.98,203.34
1,fev/03,1.57,2.19,25.821429,93602937,393976058,706788435,815745074,10280.61,3.5908,...,51066.28,0.6,120.281038,161.759767,103.5,14.570732,NaN,250.13,233.46,206.19
2,mar/03,1.23,1.14,26.500000,89822584,388142457,710712013,820859498,11273.63,3.4469,...,51462.26,0.4,133.688711,224.647203,101.9,15.198780,182585.2573,248.06,234.18,202.43
3,abr/03,0.97,1.14,26.500000,87410599,385467653,712800120,823489095,12556.70,3.1187,...,55840.39,0.0,96.791932,176.579867,107.7,15.575610,178958.1301,247.57,235.03,204.02
4,mai/03,0.61,0.85,26.500000,86231763,388490690,721321334,833412205,13421.60,2.9557,...,57077.43,-0.3,85.230528,122.309831,112.0,16.203659,177284.6602,250.48,238.04,206.54

In [3]:
# Transformação 1
f = lambda df, i, col_name: df.loc[i, col_name] - df.loc[i - 1, col_name]
utils.save_tranformed_df("dados/delta.csv", df, f)

In [5]:
# Transformação 2
f = lambda df, i, col_name: (df.loc[i, col_name] - df.loc[i - 1, col_name]) - (df.loc[i - 1, col_name] - df.loc[i - 2, col_name])
utils.save_tranformed_df("dados/delta_quadrado.csv", df, f, skip=[0, 1])

In [5]:
# Transformação 3
f = lambda df, i, col_name: np.log(df.loc[i, col_name])
utils.save_tranformed_df("dados/log.csv", df, f)

C:\Users\guisf\AppData\Local\Temp\ipykernel_20564\3570741408.py:2: RuntimeWarning: divide by zero encountered in log
  f = lambda df, i, col_name: np.log(df.loc[i, col_name])
C:\Users\guisf\AppData\Local\Temp\ipykernel_20564\3570741408.py:2: RuntimeWarning: invalid value encountered in log
  f = lambda df, i, col_name: np.log(df.loc[i, col_name])

In [6]:
# Tranformação 4
f = lambda df, i, col_name: np.log(df.loc[i, col_name]) - np.log(df.loc[i - 1, col_name])
utils.save_tranformed_df("dados/delta_log.csv", df, f)

C:\Users\guisf\AppData\Local\Temp\ipykernel_20564\814373823.py:2: RuntimeWarning: divide by zero encountered in log
  f = lambda df, i, col_name: np.log(df.loc[i, col_name]) - np.log(df.loc[i - 1, col_name])
C:\Users\guisf\AppData\Local\Temp\ipykernel_20564\814373823.py:2: RuntimeWarning: invalid value encountered in log
  f = lambda df, i, col_name: np.log(df.loc[i, col_name]) - np.log(df.loc[i - 1, col_name])

In [7]:
# Tranformação 5
f = lambda df, i, col_name: (np.log(df.loc[i, col_name]) - np.log(df.loc[i - 1, col_name])) - (np.log(df.loc[i - 1, col_name]) - np.log(df.loc[i - 2, col_name]))
utils.save_tranformed_df("dados/delta_log_quadrado.csv", df, f, skip=[0, 1])

C:\Users\guisf\AppData\Local\Temp\ipykernel_8528\4120892083.py:2: RuntimeWarning: divide by zero encountered in log
  f = lambda df, i, col_name: (np.log(df.loc[i, col_name]) - np.log(df.loc[i - 1, col_name])) - (np.log(df.loc[i - 1, col_name]) - np.log(df.loc[i - 2, col_name]))
C:\Users\guisf\AppData\Local\Temp\ipykernel_8528\4120892083.py:2: RuntimeWarning: invalid value encountered in log
  f = lambda df, i, col_name: (np.log(df.loc[i, col_name]) - np.log(df.loc[i - 1, col_name])) - (np.log(df.loc[i - 1, col_name]) - np.log(df.loc[i - 2, col_name]))

O código gera corretamente as versões transformadas,
mas fizeram-se algumas mudanças manuais nos arquivos posteriormente.

Removeram-se as entradas anteriores a out/2003, pois o maior lag que vai se utilizar é de 3.